<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>{{ pagename }}</title>
</head>
<body>
    {{>nav}}
    {{#if messages}}
    <div class="container">
        {{>messages}}
    </div>
    {{/if}}
    <div class="container">
        {{{ body }}}
    </div>
</body>
</html>