<h1 style="text-align: center;" style="margin: 0;">Активация аккаунта</h1>
<hr style="width: 100%">
<h3 style="text-align: center;">{{last_name}} {{first_name}} {{#if patronymic}}{{patronymic}} {{/if}}({{email}}), вы успешно активировали свой аккаунт!</h3>
<img src="/img/okey_sign.png" style="margi: auto; widht: 150px;">