<h1 style="margin: 0;">Редактирование профиля</h1>
<hr style="width: 100%">
<form action="/profile/edit" method="post">
    <input name="last_name" type="text" placeholder="Фамилия" value="{{user.last_name}}">
    <input name="first_name" type="text" placeholder="Имя" value="{{user.first_name}}">
    <input name="patronymic" type="text" placeholder="Отчество" value="{{user.patronymic}}">
    <input name="color" type="color" value="{{user.color}}">
    <input type="submit" value="Сохранить">
</form>