<h1 style="margin: 0;">Вход в аккаунт</h1>
<hr style="width: 100%">
<form action="/login" method="post">
    <input name="email" type="email" placeholder="Почта">
    <input name="password" type="password" placeholder="Пароль">
    <input type="submit" value="Войти">
</form>
<p>Еще нет аккаунта? <a class="styled-a" href="/register">Зарегистрироваться</a></p>