body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    padding: 20px 40px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}
form input {
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}
.styled-a {
    color:rgb(2, 2, 163);
    font-weight: 600;
}
.styled-a:hover {
    color: rgb(0, 0, 117);
    text-decoration: underline;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    padding: 5px 20px;
    font-weight: 500;
    margin-bottom: 6px;
}
.close {
    font-size: 30px;
    cursor: pointer;
}
.error {
    background-color: rgb(255, 116, 116);
}
.success {
    background-color: rgb(85, 255, 88);
}
.chat-cont {
    background-color: aliceblue;
    flex: 1;
    min-height: 0;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    max-width: 500px;
    margin: auto;
    border-radius: 8px;
}
.send-cont {
    margin-bottom: 10px;
}
.msg-cont {
    margin-top: 5px;
    width: 90%;
    margin-bottom: 20px;
    padding: 0px 20px;
    overflow-y: scroll;
    min-height: 0;
    flex: 1;
}
.msg-cont::-webkit-scrollbar {
    display: none;
}
.chat-message {
    display: flex;
    flex-direction: column;
}
.sender {
    font-weight: 600;
    margin: 5px 0px;
}

form input {
    padding: 7px 20px;
    border: 1px solid rgb(141, 219, 255);
    border-radius: 5px;
}

form input[type=color] {
    padding: 0px 3px;
}

#sendBtn {
    padding: 7px 20px;
}

#msg-text {
    padding: 7px 20px;
}

.btn {
    display: block;
    padding: 7px 20px;
    width: 140px;
    border-radius: 7px;
    border: 1px dashed black;
    background-color: rgb(255, 195, 84);
    cursor: pointer;
}

.btn:active {
    border: 1px solid black;
    background-color: rgb(254, 185, 56);
    transform: scale(0.9);
}
.btn.orange {
    background-color: rgb(255, 195, 84);
}
.btn.orange:active {
    background-color: rgb(254, 185, 56);
}
.btn.red {
    background-color: rgb(255, 84, 84);
}
.btn.red:active {
    background-color: rgb(255, 61, 61);
}

.btn-group {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
}
.btn-group button {
    margin-left: 5px;
    width:fit-content;
}
.chat-message .text {
    margin-left: 5px;
    font-style: italic;
    word-break: break-word;
}
.chat-message .text a {
    color:rgb(2, 2, 163);
    font-weight: 600;
}
.chat-message .text a:hover {
    color: rgb(0, 0, 117);
    text-decoration: underline;
}
.chat-message .sender {
    white-space: nowrap;
}
.center-flex {
    justify-content: center;
    align-items: center;
}
.chat-message .time {
    white-space: nowrap;
    text-decoration: underline;
}
.flex-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.online-list {
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 255, 179);
    padding: 8px 25px;
    border-radius: 7px;
    border: 2px dashed darkgreen;
}
.online-list p {
    margin: 5px;
    font-weight: 600;
}
#onl-lst {
    height: 200px;
    overflow-y: scroll;
    padding: 8px 15px;
    text-align: center;
    border: none;
}
#onl-lst::-webkit-scrollbar {
    display: none;
}
@media(max-width: 775px) {
    #chatCont {
        flex-direction: column-reverse;
    }
}
.no-margin {
    margin: 0;
}
.chat-item {
    padding: 10px 20px;
    border-radius: 7px;
    background-color: rgb(208, 208, 255);
    border: 1px solid blue;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.polar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-full {
    width: 100%;
    border: 1px dashed black;
    border-radius: 5px;
}
.status-bar {
    background-color:rgb(213, 255, 179);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px double black;
}
.status-bar img {
    cursor: pointer;
}
.msg-full {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    overflow-y: scroll;
    max-height: 500px;
}
.msg-full .msg {
    background-color: rgb(200, 255, 237);
    border-radius: 9px;
    padding: 15px 25px;
    width: 80%;
    margin-bottom: 5px;
    flex: 1;
}
.msg-full .msg .msg-time {
    margin-left: 4px;
    font-size: 15px;
    color: rgb(104, 104, 104);
}
.msg-full .msg .msg-sender {
    font-weight: 600;
}
.msg-full .msg .msg-text {
    margin: 5px 0;
}
.msg-full .msg .msg-info {
    margin: 7px 0;
}
.send-msg {
    background-color: rgb(255, 254, 177);
    padding:10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.send-msg input[type="text"] {
    padding: 10px 15px;
    border-radius: 8px;
    width: 80%;
    border: none;
}
.send-msg button {
    margin-left: 5px;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(74, 234, 255);
    border: none;
    font-weight: 600;
}
.send-msg button:active {
    transform: scale(0.9);
}
.row-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
form label {
    padding: 7px 20px;
    padding-left: 0;
    margin-bottom: 5px;
    font-size: 14px;
}
#chatUsersTable {
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgb(194, 255, 252);
    border-radius: 20px;
    margin-bottom: 10px;
}
#chatUsersTable td {
    padding: 9px 20px;
    text-align: center;
}
#chatUsersTable th {
    border-bottom: 2px dashed black;
    padding: 13px 15px;
}
#chatUsersTable th:first-child {
    border-top-left-radius: 10px;
}
#chatUsersTable th:last-child {
    border-top-right-radius: 10px;
}
#chatUsersTable tr:hover {
    background-color: rgb(111, 255, 248);
    border-radius: 10px;
}
#chatUsersTable thead{
    background-color: rgb(51, 255, 245);
    border-radius: 10px;
}
#chatUsersDiv {
    width: 95%;
    border-top: 1px solid grey;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#chatUsersTable select {
    padding: 8px 10px;
    border-radius: 10px;
}
.hint {
    display: none;
    position: absolute;
    z-index: 9999999;
    background-color: rgb(233, 233, 233);
    padding: 10px 5px;
    border-radius: 7px;
}
.hint .btnDel {
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    width: 100%;
    margin: 0;
    background-color: white;
    font-size: 18px;
    color: red;
    border-radius: 6px;
}
.hint .btnDel:hover {
    background-color: rgb(233, 233, 233);
}